<div class="d-flex justify-content-evenly my-5">
  <app-titulo [title]='title'></app-titulo>
  <button class="btn btn-success" (click)="novoFuncioAbreModal(template)">Novo Funcionario</button>
</div>

  <table class="table table-hover">
    <thead class="table-secondary">
      <tr>
        <th scope="col"># ID do(a) funcionario(a)</th>
        <th scope="col">Foto do funcionario</th>
        <th scope="col">Nome do funcionario</th>
        <th scope="col">RG do funcionario</th>
        <th scope="col"># ID do departamento</th>
        <th scope="col">Opções</th>
      </tr>
    </thead>
    <tbody >
        <tr *ngFor="let funcionario of funcionarios" >
          <td>{{ funcionario.id }}</td>
          <td>
              <img [src]="foto" style="width:150px;height:150px">
          </td>
          <td>{{ funcionario.nome }}</td>
          <td>{{ funcionario.rg }}</td>
          <td>{{ funcionario.idDepartamento }}</td>
          <td class="btn-gourp">
            <button class="btn btn-outline-secondary" (click)="selecionaFuncioAbreModal(funcionario, template)">Editar</button>
            <button class="btn btn-outline-danger" (click)="deletarFuncionario(funcionario.id)">Deletar</button>
          </td>
        </tr>

    </tbody>
  </table>

 
<ng-template #template>
  <div class="modal-header">
    <app-titulo [title]="' #'+funcioSelecionado.id+' - '+funcioSelecionado.nome"></app-titulo>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
    </button>
  </div>
  <div class="modal-body">
  
    <form [formGroup]="funcionarioForm">

      <div class="mb-3">
        <input class="form-control" type="file" #Image accept="image/*" id="formFile">
      </div>
  
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Nome</label>
        <input type="text" class="form-control" id="nome" formControlName="nome">
      </div>
      
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">RG</label>
        <input type="text" class="form-control" id="rg" formControlName="rg">
      </div>
      
      <div class="mb-3" *ngIf="funcioSelecionado.id !== 0">
        <label for="exampleInputPassword1" class="form-label">ID do departamento</label>
        <input type="text" class="form-control" id="id-departamento" formControlName="idDepartamento">
      </div>
      
      <div class="d-flex justify-content-end">
        <div class="col-sm-6 d-flex justify-content-end">
          <button *ngIf="funcioSelecionado.id !== 0 " type="submit" class="btn btn-success" [disabled]="!funcionarioForm.valid" (click)="editarSubmit()" (click)="modalRef?.hide()">Enviar</button>

          <button *ngIf="funcioSelecionado.id === 0 " type="submit" class="btn btn-success" [disabled]="!funcionarioForm.valid" (click)="criarSubmit()" (click)="modalRef?.hide()">Enviar</button>
        </div>
      </div>

    </form>
  </div>
</ng-template>

